---
permalink: /
layout: archive
title: "About me"
excerpt: "About me"
author_profile: true
redirect_from:
  - /about/
  - /about.html
---

I am a fourth-year PhD candidate in Electrical Engineering at Washington University in St. Louis (WashU) advised by Prof. <a href="https://sites.wustl.edu/kantaroslab/">Yiannis Kantaros</a>.

Prior to my doctoral studies, I worked as a research intern at Schlumberger-Doll Research (SDR) for 9 months. I received MSE in Robotics at <a href="https://grasp.upenn.edu">GRASP Lab</a> supervised by Prof. <a href="https://www.georgejpappas.org/">George Pappas</a> at the University of Pennsylvania in 2021 and BEng in Software Engineering at Sun Yat-Sen University in 2019. I spent 6 wonderful months at SungKyunKwan University in Korea as an exchange student in 2018.
<br><br>
<!--The name of this webpage "<strong>wonggwan</strong>" comes from the pronunciation of my name in <a href="https://en.wikipedia.org/wiki/Cantonese">Cantonese</a>. -->
My research interests include machine learning, control, and robotics.

<p>&nbsp;</p>

<h1> News </h1>

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}

<div style="display: none;">
  <h6>Page views:</h6>
  <a href="https://www.hitwebcounter.com" target="_blank">
  <img src="https://hitwebcounter.com/counter/counter.php?page=7680519&style=0007&nbdigits=5&type=page&initCount=0" title="Total Website Hits" Alt="Web Hits" border="0" /></a>
  <h6>Unique visitors</h6>
  <a href="https://www.hitwebcounter.com" target="_blank">
  <img src="https://hitwebcounter.com/counter/counter.php?page=7680520&style=0007&nbdigits=5&type=ip&initCount=0" title="Total Website Hits" Alt="Web Hits" border="0" /></a>
</div>
